
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  font-family: 'Uncut Sans','Times New Roman';
  font-size: 16px;
  background: url(/img/base-stations.webp);
  position: relative;
  background-size:cover;

  
}


.main{
display: flex;
flex-direction: column;
}
.main-info{
  flex: 1 1 auto;
  padding-bottom: -40px;
}
.main-head{
  width: 100%;
  height: auto;
}
.header-menu{
  padding-right: 40px;
}
.header-list{
  display: flex;
  position: relative;
  align-items:center;
  vertical-align: middle;
  z-index: 2;
}
.header-list li{
  list-style: none;
  margin-left: 35px;
  text-shadow: 1px 1px 1px #000;
}
.header-list li select:hover{
  color: #92705b;
}
.header-link{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.header-link:hover {
  color: #92705b;
}
.header-logo {
  flex: 0px 0px 60px;
}
.header-logo img{
  max-width: 90px;
  opacity:0.65;
}
.header-logo{
  position: relative;
  overflow: hidden;
  z-index: 4;
  margin-left: 15%;
}
.header-logo img{
  margin-top: 3%;
  max-width: 100px;
}

.select-lang{
  width: 65px;
  height: 40px;
  border-radius: 5px 5px;
  margin-left: 35px;
  text-align: center;
  justify-content: center;
  background-color: #CFBBBB;
  border: 1.5px solid black;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}


.catalog-item {
  width: calc(100% / 3);
  margin-bottom: 3px;
  padding: 0px 35px 15px 35px;
  position: relative;
  background-color: white;
  opacity: 0.90;
  border-radius: 20px;
  border: 3px solid black;
}
.product{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.product-price{
  text-align: center;
  margin-right: 35px;
  margin-top: 3px;
}



.product-image{
  display: block;
  margin: 0 auto 15px;
}
.product{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product img{
  align-items: center;
  justify-content: center;
}
.product-title{
  margin: 0 0 10px;
  font-weight: 900;
  font-size: 22px;
}
.product-description{
  margin: 0;

}
.product-bottom{
  vertical-align: middle;
}
.product-content{
  margin-bottom: 25px;
  flex-grow: 1;
}
.product-price{
  font-size: 22px;
  font-weight: 900;
}




.main-side-bar header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 50;
}
.container{
max-width: 1120px;
margin: 0 auto;
padding: 0px 30px;
}
.main-side-bar header:before{
  content: ' ';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #B19C90;
  opacity:0.85;
  z-index: 2;
}
.header-body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.product-bottom{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
vertical-align: middle;
}
.product-btn{
  background-color:#664D3E ;
  color: white;
  padding: 15px 20px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.product-btn:hover {
    background-color:#B19C90;
}
.main{
  height: 100%;
}


.main-footer{
  height:40px;
  width:100%;
  color: white;
  text-align: center;
  background-color: #B19C90;
  opacity:0.85;
  text-shadow: 1px 1px 1px #000;
} 


@media(max-width:900px) {
  body.lock{
    overflow: hidden;
  }
  .header-burger{
    display: block;
    position: relative;
    height: 20px;
    width: 35px;
    z-index: 3;
  }
  .header-burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before,
  .header-burger:after{
    content: " ";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before{
    top: 0;
  }
  .header-burger:after{
    bottom: 0;
  }

  .header-burger.active:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active:after{
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .header-burger.active span{
    transform: scale(0);
  }
  .header-menu.active{
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header-menu{
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 72.5%;
    overflow: auto;
    background-color: #664d3e;
    opacity:0.85;
    padding: 155px 10px 30px 105px;
    transition: all 0.3s ease 0s;
  }
  .header-menu.active{
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header-list{
    display: block;
    }
  .header-list li{
    margin: 0px 0px 45px 0px;
    } 
}
  @media (max-width:767px) {

    .main-info p{
    font-size: calc(9px + (26 + 26*0.7) *((100vw - 320px)/ 1440));
    }
  }
  @media (max-width:367px) {
    .catalog-item{
      margin-top: 15px;
    }
 }
 @media (max-width:467px) {
  .catalog-item{
    margin-top: 25px;
  }

}
  @media (max-width:330px) {
  .product-title{
    font-size: calc(15px + (10 + 10*0.7) *((100vw - 320px)/ 1440));
  }
}
  @media(max-width:1040px){
    .main-info{
    padding: 10px 30px 0px 30px;
    }
  }
  @media (max-width:376px) {
    .main-info img{
      padding-top: 24%;
    } 
  }
  @media (max-width:1040px) {

    .catalog-item{
      margin-top: -7px;
    }
  }
  @media (max-width:1020px) {
    .catalog-item{
      margin-top: -9px;
    }
  }
  @media (max-width: 1250px) {
    .catalog {
      margin: 0 -20px;
    }
    .catalog-item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (max-width: 992px) {
    .catalog-item {
      width: 50%;
    }
    .product-price{
      margin-right: 15px;
    }
  }
  @media (max-width: 768px) {
    .catalog{
      margin-top: 10%;
    }
    .product{
      text-align: center;
    
    }
    .product-price{
      margin-right: 15px;
      
    }
    .catalog-item {
      width: 100%;
      margin-bottom: 30px;
      
    }
    .catalog-product {
    
      width: 350px;
      max-width: 100%;
      margin: 0 auto;
      border-bottom: 2px solid #f7f7f7;
      padding-bottom: 3px;
    }
  
  }
  @media (max-width: 446px) {
    .catalog{
      margin-top: 10%;
    }
    .product-price{
      margin-right: 15px;
    }
    .catalog-product {
     
      width: 250px;
      max-width: 100%;
      margin: 0 auto;
      border-bottom: 2px solid #f7f7f7;
      padding-bottom: 20px;
    }
  }
  @media (max-width:579px) {
  
    footer{
      font-size: 12px;
    }
  }
 