
*{
	margin: 0;
	padding: 0;
  
}
html,
body{
  height: 100%; 
  font-family: 'Uncut Sans','Times New Roman';
  font-size: 16px;
  min-height: 100%;
}


.main{
display: block;
flex-direction:row;
height: 100%;
}
.container-item label{
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-shadow: 13px 13px 13px #000000;
  
}
.main-info{
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
  background: url(/dist/assets/img/base-stations.webp);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  padding-top: 200px;
}
.main-info h2{
  margin-bottom: 25px;
  color: white;
}
.main-head{
  width: 100%;
  height: 13vh;
}
.header-menu{
  padding-right: 40px;
}
.header-list{
  display: flex;
  position: relative;
  align-items:center;
  vertical-align: middle;
  z-index: 2;
}
.header-list li{
  list-style: none;
  margin-left: 35px;
  text-shadow: 1px 1px 1px #000;
}
.header-list li select:hover{
  color: #92705b;
}
.header-link{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.header-link:hover {
  color: #92705b;
}
.header-logo {
  flex: 0px 0px 60px;
}
.header-logo img{
  max-width: 90px;
  opacity:0.65;
}
.header-logo{
  position: relative;
  overflow: hidden;
  z-index: 4;
  margin-left: 15%;
}
.header-logo img{
  margin-top: 3%;
  max-width: 100px;
}


.select-lang{
  width: 65px;
  height: 40px;
  border-radius: 5px 5px;
  text-align: center;
  justify-content: center;
  background-color: #CFBBBB;
  border: 1.5px solid black;
}
select{
  margin-left: 45px;
}


.main-side-bar header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 50;
}
.container{
max-width: 1120px;
margin: 0 auto;
padding: 0px 30px;
}
.main-side-bar header:before{
  content: ' ';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 100%;
  background-color: #B19C90;
  opacity:0.85;
  z-index: 2;
}
.header-body{
position: relative;
display: flex;
justify-content: space-between;
height: 100px;
align-items: center;
}


.container-item {
  padding: 16px;
  display: inline-block;
  color: white;
  text-shadow: 1px 1px 1px #000;
  padding: 0px 50px 35px 25px;
}
.container-item label button{
  align-items: center;
 justify-content: center;
 text-align: center;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 10px 210px 10px 0;
  display: block;
  border: none;
  box-shadow:0px -1px 7px 0px black
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.registerbtn {
  background-color: #664D3E;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 55%;
  opacity: 0.9;
}
.registerbtn:hover {
  background-color:#B19C90;
}
.ILogin, .IPassword,.IPassword1
{
  font-weight: bold;
}
.IPassword1{
  padding-left: 35px;
}
.IPassword{
  padding-left:8px;
}
.main-footer{
  height:40px;
  width:100%;
  color: white;
  text-align: center;
  background-color: #B19C90;
  opacity:0.85;
  text-shadow: 1px 1px 1px #000;
} 







@media(max-width:900px) {
  body.lock{
    overflow: hidden;
  }
  .header-burger{
    display: block;
    position: relative;
    height: 20px;
    width: 35px;
    z-index: 3;
  }
  .header-burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before,
  .header-burger:after{
    content: " ";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before{
    top: 0;
  }
  .header-burger:after{
    bottom: 0;
  }
  .header-burger.active:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active:after{
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .header-burger.active span{
    transform: scale(0);
  }
  .header-menu.active{
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header-menu{
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: auto;
    background-color: #664d3e;
    opacity:0.85;
    padding: 155px 10px 30px 105px;
    transition: all 0.3s ease 0s;
  }
  .header-menu.active{
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header-list{
    display: block;
    }
  .header-list li{
    margin: 0px 0px 45px 0px;
    } 
}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}
@media (max-width:2560px) {
    .main-info h2{
        font-size: 45px;
    }
}
@media (max-width:579px) {
  input[type=text], input[type=password] {
    width: 90%;
  }
  footer{
    font-size: 12px;
  }
  .main-info h2{
    margin-top:30px;
  }
}
@media (max-width:1440px) {
    .main-info h2{
        font-size: 43px;
    }
    
}
@media (max-width:1024px) {
    .main-info h2{
        font-size: 36px;
    }
}
@media (max-width:768px) {
    .main-info h2{
        font-size: 30px;
    }
}
@media (max-width:425px) {
    .main-info h2{
        font-size: 26px;
    }
}
@media (max-width:320px){
  .main-info{
    text-align: center;
    margin: 0 auto;
    width: auto;
    padding: 135px 5px 0px 5px;
  }
}
@media (max-width:340px){
  .errors{
    margin-bottom:18px;
  }
}